---
import Header from "../../components/header.astro";
---
<html lang="en">
  <head>
        <script data-goatcounter="https://chancellorceti.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Chancellor Ceti's blog on physics, math, coding, film, literature, politics, and history—plus whatever else inspires him">
  <meta name="author" content="Chancellor Ceti">
<meta property="og:site_name" content="Chancellor Ceti's Blog" />
<meta property="og:type" content="website" />
    <link rel="icon" type="image/svg+xml" href="/blogicon.png" />
<link
    rel="alternate"
    type="application/rss+xml"
    title="Chancellor Ceti's Blog"
href="/rss.xml"
/>
  </head>
  <body>
        <Header/>
      <slot /> 
  </body>
</html>
