<html lang="en">
  <head>
<!-- Google tag (gtag.js) -->
<script type="text/partytown" src="https://www.googletagmanager.com/gtag/js?id=G-HTBC8FKTFB"></script>
<script type="text/partytown">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HTBC8FKTFB');
</script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="description" content="Chancellor Ceti's math and programming blog, centered around Project Euler math.">
  <meta name="keywords" content="Chancellor Ceti,Floofy Doggo,Math,Programming,Project Euler,Coding">
  <meta name="author" content="Chancellor Ceti">
<meta property="og:site_name" content="Chancellor Ceti's Blog" />
<meta property="og:type" content="website" />
  </head>
  <body>
      <slot /> 
  </body>
</html>
