---
import Header from "../../components/header.svelte";
import Layout from './Layout.astro'
import "../../../public/post.css";
const { frontmatter } = Astro.props;
---
<Layout>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css"
      integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ"
      crossorigin="anonymous"
    />

  </head>
  <body>
    <Header />
    <slot id="content" />
  </body>
</html>
</Layout>
