body {
    background-color: #b1b6a6 !important;
    margin: 0;
    min-height: 100%;
    width: 100%;
    background-image: radial-gradient(rgb(24, 26, 27) 1px,
            rgb(0, 4, 0) 0px) !important;
    background-size: 50px 50px !important;
}

html {
    margin: 0;
    width: 100%;
    height: 100%;
}

h1 {
    color: #4ecdc4;
    margin-top: calc(5vh + 5vw);
    font-size: calc(20px + 2vw);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 1000;
    background-color: rgba(0, 5, 0, 1);
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    color: #4ecdc4;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: calc(10px + 1.5vw);
    margin-left: 5vw;
    width: 85vw;
}
h2,p{
    text-align: left;
}

p {
    color: #4ecdc4;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: calc(9px + 1vw);
    margin-left: 5vw;
    width: 85vw;
}

#projects-container {
    display: flex;
    flex-wrap: wrap;
}

.project-container {
    flex: 1 0 40%;
    margin: 10px;
    text-align: left;
}

a,
a::visited {
    color: #4ecdc4;
}

.github-link {
    color: #4ecdc4;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: calc(9px + 1vw);
    text-align:left;
    width: 85vw;
    margin-left:5vw;
}
