---
import Header from "../components/header.svelte";
import Layout from './layouts/Layout.astro'
---
<Layout>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/blogicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!--Icons-->
    <link rel="stylesheet" href="/about.css" />
    <title>About | Chancellor Ceti</title>
  </head>
  <body>
    <Header />
    <h1>About</h1>
    <p>
      I'm a high school student with an interest in mathematics, physics, and
                computer programming. I'm currently doing deep dives into electrodynamics and general relativity (Jackson and MTW have become the holy texts in my life), so expect to see content on that. I'm also working on a Rust computer algebra system, so there are a number of posts coming up about that.

    I do a variety of other things however, so the blog is not necessarily confined to any given set of subjects :)
      <br />
      <p>
        I use Rust 🦀 for most of my programming projects, but I also enjoy C
        socket programming and Julia's data science capabilities. For
        frontend-related work, I use either Svelte or Astro depending on the
                project.
                <br/>
            </p>
            <p>
                I am trying to slowly build a habit of uploading my coding projects to Github, so you can now find most of my recent work at <a href="https://github.com/ChancellorCeti" class="link">my github page here</a>.
                <br/>
            </p>
      <p>
            <p>
                If you're curious about what kind of TV I watch, I've attempted to construct <a href="/movies-and-tv/" class="link">a list of all the movies and TV shows I've ever seen over here</a>. I'm trying to start posting film reviews here, but until then, you can check out this page to see what all I've watched.</p>
            <p>I read about a lot of other things that are harder to write blog posts about but equally interesting -- feel free to contact me if you have thoughts/input related to anything I do, I'm always excited to learn interesting things from people. I enjoy reading about history, especially the Cold War era. I also have a special interest in anything related to Indian history or politics (surprise I'm Indian). Languages are also interesting to me, and I'm working on improving my Spanish and Bangla right now, while very chaotically learning some Indonesian for kicks. I'm also an avid follower of the news and am excited by discussions about politics, international relations, and economics (dangerous topics to blog about unfortunately).</p>
            <p>For contact purposes, I'm most active on my discord account <code
          >floofydoggo</code
                >
                <br/>
                <br/>
                I also have the email address <code>chancellorceti at gmail.com</code> but I check this rather infrequently.
      </p>
    </p>
  </body>
</html>
</Layout>
