---
import Header from "../components/header.svelte";
import Layout from './layouts/Layout.astro'
---
<Layout>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/blogicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!--Icons-->
    <link rel="stylesheet" href="/about.css" />
    <title>About | Chancellor Ceti</title>
  </head>
  <body>
    <Header />
    <h1>About</h1>
    <p>
      I'm a high school student with an interest in mathematics, physics, and
      computer programming. In the realm of mathematics, I am currently studying statistics 
                , so most of my math posts (for the foreseeable future) will be on that.

                In physics, my primary interest at the moment is electrodynamics, so expect to see content on that also!

    I do a variety of other things however, so the blog is not necessarily confined to any given set of subjects :)
      <br />
      <p>
        I use Rust 🦀 for most of my programming projects, but I also enjoy C
        socket programming and Julia's data science capabilities. For
        frontend-related work, I use either Svelte or Astro depending on the
                project-- both amazing frameworks.
                <br/>
            </p>
            <p>
                I am trying to slowly build a habit of uploading my coding projects to Github, so you can now find most of my recent work at <a href="https://github.com/ChancellorCeti">my github page here</a>.
                <br/>
            </p>
      <p>
        For contact purposes, I'm most active on my discord account <code
          >floofydoggo</code
                >
                <br/>
                <br/>
                I also have the email address <code>chancellorceti@gmail.com</code> but I check this rather infrequently.
      </p>
    </p>
  </body>
</html>
</Layout>
