---
import Header from "../components/header.svelte";
import Layout from './layouts/Layout.astro'
---
<Layout>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/blogicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!--Icons-->
    <link rel="stylesheet" href="/about.css" />
    <title>About | Chancellor Ceti</title>
  </head>
  <body>
    <Header />
    <h1>About</h1>
    <p>
      I'm a high school student with an interest in mathematics, physics, and
                computer programming. I'm currently doing deep dives into electrodynamics and general relativity (Jackson and MTW have become the holy texts in my life) and working on a Rust computer algebra system.
      <br />
      <p>
        I use Rust 🦀 for most of my programming projects, but I also enjoy C
        socket programming and Julia's data science capabilities. For
        frontend-related work, I use either Svelte or Astro depending on the
                project.
                <br/>
            </p>
            <p>
                I am trying to slowly build a habit of uploading my coding projects to Github, so you can now find most of my recent work at <a href="https://github.com/ChancellorCeti" class="link">my github page here</a>.
                <br/>
            </p>
      <p>
            <p>
                Since my taste in films reflects to a great extent who I am, I've attempted to construct <a href="/movies-and-tv/" class="link">a list of all the movies and TV shows I've ever seen over here</a>. I'm trying to start posting film reviews here, but until then, you can check out this page to see what all I've watched.</p>

            <p> I enjoy reading about history, especially the Cold War era, and have a special interest in anything related to Indian history or politics. I also like discussions about current-day politics, international relations, and economics.</p>

            <p>Languages are interesting to me, and I'm working on improving my Spanish and Bangla right now, while very chaotically learning some Indonesian. Currently, I am fluent in English and Bangla, an intermediate learner in Spanish, and a complete beginner in French and Indonesian; I read just enough French to maintain my current level but don't actively study it right now -- I just didn't fall in love with the language as much as I did with others. I can understand a small amount of Hindi but am horribly inept at speaking it and can not read or write -- I somehow acquired this lopsided Hindi education through watching Hindi movies.</p>

            <p>I also like reading a lot of fiction and poetry; some favorites (drawn from the top of my head) are Hwang Sok-yang's "Mater 2-10," Rohinton Mistry's "A Fine Balance," Sukanta Bhattacharya's "Lenin," Roberto Bolaño's "2666," Neruda's "Walking Around," and Steinbeck's "The Grapes of Wrath." Music is a 24/7 presence in my life, usually alternating between rock and kpop. Some rock favorites are Nothing But Thieves (best group ever), The Doors, Pink Floyd, Dire Straits, Radiohead, Bruce Springsteen, U2, Royal Blood, and Los Prisioneros; a few kpop favorites are NMIXX, BABYMONSTER, NewJeans, Aespa, Hearts2Hearts, RESCENE, and IVE. </p>

            <p>For contact purposes, I'm most active on my discord account <code
          >floofydoggo</code
                >
                <br/>
                <br/>
                I also have the email address <code>chancellorceti at gmail.com</code> but I check this rather infrequently.
      </p>
    </p>
  </body>
</html>
</Layout>
