---
import Header from "../components/header.svelte";
import Layout from './layouts/Layout.astro'
---
<Layout>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/blogicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!--Icons-->
    <link rel="stylesheet" href="/about.css" />
    <title>Astro</title>
  </head>
  <body>
    <Header />
    <h1>About</h1>
    <p>
      I'm a high school student with an interest in mathematics, physics, and
      computer programming. In the realm of mathematics, I mainly focus on
      number theory and combinatorics, so I'll likely move a bit slower through
      anything else. As for physics and computer programming, I pretty much
      dabble in anything I find interesting that could be classified under those
      labels.
      <br />
      <p>
        My main hobby is doing problems on a site called <a
          href="https://projecteuler.net">Project Euler</a
        > where I've solved nearly 100 problems. A lot of the content I post here
        is based on things I learned from this site's problems, and it's one of my
        favorite places on the internet.
      </p>
      <p>
        I use Rust 🦀 for most of my programming projects, but I also enjoy C
        socket programming and Julia's data science capabilities. For
        frontend-related work, I use either Svelte or Astro depending on the
        project-- both amazing frameworks.
      </p>
      <p>
        For contact purposes, I'm most active on my discord account <code
          >Floofy Doggo#2244</code
        >
      </p>
    </p>
  </body>
</html>
</Layout>
