---
import Header from "../components/header.svelte";
import Layout from './layouts/Layout.astro'
---
<Layout>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/blogicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!--Icons-->
    <link rel="stylesheet" href="/projects.css" />
    <title>Projects | Chancellor Ceti</title>
  </head>
  <body>
    <Header />
    <h1>My Projects</h1>
    <div id="projects-container">
            <div class="project-container">
                <h2>Ensimismarse</h2>
                <p>Rust library that allows integration and differentation of many mathematical expressions, as well as functions to simplify and evaluate expressions </p>
                <a class = "github-link" href="https://github.com/ChancellorCeti/ensimismarse">Link to Github repository</a>
            </div>
            <div class="project-container">
                <h2>SlurpSlurp Regression</h2>
                <p>Multivariable nonlinear regression library written in Rust, utilizes the ensimismarse library (also created by me) </p>
<a class = "github-link" href="https://github.com/ChancellorCeti/slurpslurp_regression">Link to Github repository</a>
            </div>
            <div class="project-container">
                <h2>White Rabbit</h2>
                <p>A simple email server and terminal email client written in C</p>
<a class = "github-link" href="https://github.com/ChancellorCeti/white-rabbit">Link to Github repository</a>
            </div>
            <div class="project-container">
                <h2>Blocktanks Analytics</h2>
                    <p>Fetches data on players in blocktanks matches and maps being played every 5 minutes and stores the data in a database, from which it can extracted later in any format for data analysis. No longer functional due to the game receiving a privacy update, but the code is potentially useful for staff members with the power to still access the API. Also it's just a cool proof of concept.</p>
<a class = "github-link" href="https://github.com/ChancellorCeti/blocktanks-analytics">Link to Github repository</a>
            </div>

            <div class="project-container">
                <h2>Computational Essay on the Thomson Problem</h2>
                <p> Extends the Thomson problem to seek the equilibrium position of point charges on the surface of spheres, ellipsoids, polyhedra, and tori. Additionally explores different methods for solving the problem and examines what happens to the equilibrium position in the presence of a uniform electric field. Finds an accurate and efficient method for finding equilibrium configurations on different surfaces and reveals interesting patterns and geometric structures in the solutions.</p>
                <a class = "github-link" href="https://community.wolfram.com/groups/-/m/t/3499950">Link to Wolfram Community Post</a>
            </div>


            <div class="project-container">
                <h2>Research Paper I Co-authored on Results of a Search for Undiscovered Radio Pulsars</h2>
                <p>Used Fast Folding Algorithm to look for long-period pulsars in unidentified radio sources. Found no pulsars but established upper limit on dispersion measure in our search to inform future efforts.</p>
                <a class = "github-link" href="https://community.wolfram.com/groups/-/m/t/3499950">Link to Paper</a>
            </div>

    </div>
  </body>
</html>
